USE [master]
GO
/****** Object:  Database [CarSalesDB]    Script Date: 10/19/2025 2:55:05 PM ******/
CREATE DATABASE [CarSalesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarSalesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CarSalesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarSalesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CarSalesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarSalesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarSalesDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerId] [int] NOT NULL,
	[dealerId] [int] NOT NULL,
	[fullName] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[birthday] [date] NULL,
 CONSTRAINT [PK__Customer__B611CB7D0049E38E] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Temp]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Temp](
	[customerId] [int] NOT NULL,
	[dealerId] [int] NOT NULL,
	[fullName] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[birthday] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dealer]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dealer](
	[dealerId] [int] NOT NULL,
	[fullName] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[transactionId] [int] NULL,
 CONSTRAINT [PK__Dealer__5A9E9D961C30970D] PRIMARY KEY CLUSTERED 
(
	[dealerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DealerContract]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealerContract](
	[dealerContractId] [int] NOT NULL,
	[dealerId] [int] NOT NULL,
	[manufacturerId] [int] NOT NULL,
	[targetSales] [decimal](12, 2) NULL,
	[creditLimit] [decimal](12, 2) NULL,
	[signedDate] [date] NULL,
 CONSTRAINT [PK__DealerCo__5D9704E720573FF3] PRIMARY KEY CLUSTERED 
(
	[dealerContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedbackId] [int] NOT NULL,
	[customerId] [int] NOT NULL,
	[content] [varchar](500) NULL,
	[createdAt] [datetime] NULL,
	[FeedbackDate] [datetime2](7) NULL,
	[Rating] [int] NULL,
 CONSTRAINT [PK__Feedback__2613FD24ACBA58F5] PRIMARY KEY CLUSTERED 
(
	[feedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[manufacturerId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[country] [varchar](100) NULL,
	[address] [varchar](200) NULL,
 CONSTRAINT [PK__Manufact__02B55389ED519028] PRIMARY KEY CLUSTERED 
(
	[manufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderId] [int] NOT NULL,
	[dealerId] [int] NOT NULL,
	[customerId] [int] NOT NULL,
	[variantId] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[orderDate] [date] NULL,
 CONSTRAINT [PK__Order__0809335DA5E72A85] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[paymentId] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[amount] [decimal](12, 2) NULL,
	[method] [varchar](50) NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[paymentDate] [datetime2](7) NULL,
	[Status] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[paymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[promotionId] [int] NOT NULL,
	[orderId] [int] NOT NULL,
	[discountAmount] [decimal](12, 2) NOT NULL,
	[promotionCode] [varchar](50) NULL,
	[validUntil] [date] NULL,
 CONSTRAINT [PK__Promotio__99EB696E2E1B6388] PRIMARY KEY CLUSTERED 
(
	[promotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotation]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotation](
	[quotationId] [int] NOT NULL,
	[customerId] [int] NOT NULL,
	[variantId] [int] NOT NULL,
	[dealerId] [int] NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
	[createdAt] [datetime] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK__Quotatio__7536E352113ABA0A] PRIMARY KEY CLUSTERED 
(
	[quotationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesContract]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesContract](
	[saleContractId] [int] NOT NULL,
	[orderId] [int] NOT NULL,
	[signedDate] [date] NULL,
	[ContractDate] [date] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[Terms] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK__SalesCon__BBA78B0BB1B2B884] PRIMARY KEY CLUSTERED 
(
	[saleContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestDrive]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDrive](
	[testDriveId] [int] NOT NULL,
	[customerId] [int] NOT NULL,
	[variantId] [int] NOT NULL,
	[scheduledDate] [date] NULL,
	[status] [varchar](50) NULL,
	[ScheduledTime] [time](7) NULL,
 CONSTRAINT [PK__TestDriv__1BEFF08411737214] PRIMARY KEY CLUSTERED 
(
	[testDriveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] NOT NULL,
	[fullName] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[password] [varchar](100) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[dealerId] [int] NULL,
	[manufacturerId] [int] NULL,
 CONSTRAINT [PK__User__CB9A1CFF85902E89] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleModel]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleModel](
	[vehicleModelId] [int] IDENTITY(1,1) NOT NULL,
	[manufacturerId] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[category] [varchar](50) NULL,
	[imageUrl] [varchar](500) NULL,
 CONSTRAINT [PK__VehicleM__DF4B1849AF5DCC0A] PRIMARY KEY CLUSTERED 
(
	[vehicleModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleVariant]    Script Date: 10/19/2025 2:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleVariant](
	[variantId] [int] NOT NULL,
	[vehicleModelId] [int] NOT NULL,
	[version] [varchar](50) NOT NULL,
	[color] [varchar](50) NULL,
	[productYear] [int] NULL,
	[price] [decimal](12, 2) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK__VehicleV__69E44B2D7D537419] PRIMARY KEY CLUSTERED 
(
	[variantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250930130419_InitialCreate', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250930130940_AddImageUrlToVehicleModel', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251002112215_AddQuantityToVehicleVariant', N'8.0.8')
GO
INSERT [dbo].[Customer] ([customerId], [dealerId], [fullName], [email], [phone], [birthday]) VALUES (1, 1, N'Nguyen Van A', N'a@gmail.com', N'0911111111', CAST(N'1990-01-01' AS Date))
INSERT [dbo].[Customer] ([customerId], [dealerId], [fullName], [email], [phone], [birthday]) VALUES (2, 1, N'Tran Thi B', N'b@gmail.com', N'0911111112', CAST(N'1991-02-02' AS Date))
INSERT [dbo].[Customer] ([customerId], [dealerId], [fullName], [email], [phone], [birthday]) VALUES (3, 2, N'Le Van C', N'c@gmail.com', N'0911111113', CAST(N'1992-03-03' AS Date))
GO
INSERT [dbo].[Customer_Temp] ([customerId], [dealerId], [fullName], [email], [phone], [birthday]) VALUES (1, 1, N'Nguyen Van A', N'a@gmail.com', N'0911111111', CAST(N'1990-01-01' AS Date))
INSERT [dbo].[Customer_Temp] ([customerId], [dealerId], [fullName], [email], [phone], [birthday]) VALUES (2, 1, N'Tran Thi B', N'b@gmail.com', N'0911111112', CAST(N'1991-02-02' AS Date))
INSERT [dbo].[Customer_Temp] ([customerId], [dealerId], [fullName], [email], [phone], [birthday]) VALUES (3, 2, N'Le Van C', N'c@gmail.com', N'0911111113', CAST(N'1992-03-03' AS Date))
GO
INSERT [dbo].[Dealer] ([dealerId], [fullName], [email], [password], [phone], [transactionId]) VALUES (1, N'Auto World Dealer', N'dealer1@carsales.com', N'dealer123', N'0901111111', NULL)
INSERT [dbo].[Dealer] ([dealerId], [fullName], [email], [password], [phone], [transactionId]) VALUES (2, N'Premium Motors', N'dealer2@carsales.com', N'dealer123', N'0902222222', NULL)
INSERT [dbo].[Dealer] ([dealerId], [fullName], [email], [password], [phone], [transactionId]) VALUES (3, N'City Car Dealer', N'dealer3@carsales.com', N'dealer123', N'0903333333', NULL)
GO
INSERT [dbo].[DealerContract] ([dealerContractId], [dealerId], [manufacturerId], [targetSales], [creditLimit], [signedDate]) VALUES (1, 1, 1, CAST(100.00 AS Decimal(12, 2)), CAST(1000000.00 AS Decimal(12, 2)), CAST(N'2024-01-01' AS Date))
INSERT [dbo].[DealerContract] ([dealerContractId], [dealerId], [manufacturerId], [targetSales], [creditLimit], [signedDate]) VALUES (2, 2, 2, CAST(120.00 AS Decimal(12, 2)), CAST(1200000.00 AS Decimal(12, 2)), CAST(N'2024-01-02' AS Date))
INSERT [dbo].[DealerContract] ([dealerContractId], [dealerId], [manufacturerId], [targetSales], [creditLimit], [signedDate]) VALUES (3, 3, 3, CAST(150.00 AS Decimal(12, 2)), CAST(1500000.00 AS Decimal(12, 2)), CAST(N'2024-01-03' AS Date))
GO
INSERT [dbo].[Feedback] ([feedbackId], [customerId], [content], [createdAt], [FeedbackDate], [Rating]) VALUES (1, 1, N'Great service!', CAST(N'2025-10-01T11:05:14.267' AS DateTime), CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), 5)
INSERT [dbo].[Feedback] ([feedbackId], [customerId], [content], [createdAt], [FeedbackDate], [Rating]) VALUES (2, 2, N'Good experience.', CAST(N'2025-10-01T11:05:14.267' AS DateTime), CAST(N'2025-01-02T00:00:00.0000000' AS DateTime2), 4)
INSERT [dbo].[Feedback] ([feedbackId], [customerId], [content], [createdAt], [FeedbackDate], [Rating]) VALUES (3, 3, N'Average service.', CAST(N'2025-10-01T11:05:14.267' AS DateTime), CAST(N'2025-01-03T00:00:00.0000000' AS DateTime2), 3)
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([manufacturerId], [name], [country], [address]) VALUES (1, N'Toyota', N'Japan', N'Toyota City, Aichi, Japan')
INSERT [dbo].[Manufacturer] ([manufacturerId], [name], [country], [address]) VALUES (2, N'Honda', N'Japan', N'Minato, Tokyo, Japan')
INSERT [dbo].[Manufacturer] ([manufacturerId], [name], [country], [address]) VALUES (3, N'Ford', N'USA', N'Dearborn, Michigan, USA')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
GO
INSERT [dbo].[Order] ([orderId], [dealerId], [customerId], [variantId], [status], [orderDate]) VALUES (0, 1, 1, 2, N'Pending', CAST(N'2025-10-01' AS Date))
INSERT [dbo].[Order] ([orderId], [dealerId], [customerId], [variantId], [status], [orderDate]) VALUES (1, 1, 1, 1, N'Pending', CAST(N'2025-01-01' AS Date))
INSERT [dbo].[Order] ([orderId], [dealerId], [customerId], [variantId], [status], [orderDate]) VALUES (2, 1, 2, 2, N'Confirmed', CAST(N'2025-01-02' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([paymentId], [orderId], [amount], [method], [PaymentMethod], [paymentDate], [Status]) VALUES (1, 1, CAST(30000.00 AS Decimal(12, 2)), N'Credit Card', N'Visa', CAST(N'2025-01-02T00:00:00.0000000' AS DateTime2), N'Completed')
INSERT [dbo].[Payment] ([paymentId], [orderId], [amount], [method], [PaymentMethod], [paymentDate], [Status]) VALUES (2, 2, CAST(35000.00 AS Decimal(12, 2)), N'Cash', N'Cash', CAST(N'2025-01-03T00:00:00.0000000' AS DateTime2), N'Completed')
INSERT [dbo].[Payment] ([paymentId], [orderId], [amount], [method], [PaymentMethod], [paymentDate], [Status]) VALUES (3, 3, CAST(20000.00 AS Decimal(12, 2)), N'Bank Transfer', N'Transfer', CAST(N'2025-01-04T00:00:00.0000000' AS DateTime2), N'Completed')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
INSERT [dbo].[Promotion] ([promotionId], [orderId], [discountAmount], [promotionCode], [validUntil]) VALUES (1, 1, CAST(500.00 AS Decimal(12, 2)), N'PROMO500', CAST(N'2025-12-31' AS Date))
INSERT [dbo].[Promotion] ([promotionId], [orderId], [discountAmount], [promotionCode], [validUntil]) VALUES (2, 2, CAST(1000.00 AS Decimal(12, 2)), N'PROMO1000', CAST(N'2025-12-31' AS Date))
INSERT [dbo].[Promotion] ([promotionId], [orderId], [discountAmount], [promotionCode], [validUntil]) VALUES (3, 3, CAST(700.00 AS Decimal(12, 2)), N'PROMO700', CAST(N'2025-12-31' AS Date))
GO
INSERT [dbo].[Quotation] ([quotationId], [customerId], [variantId], [dealerId], [price], [createdAt], [status]) VALUES (1, 1, 1, 1, CAST(30000.00 AS Decimal(12, 2)), CAST(N'2025-01-01T00:00:00.000' AS DateTime), N'Sent')
INSERT [dbo].[Quotation] ([quotationId], [customerId], [variantId], [dealerId], [price], [createdAt], [status]) VALUES (2, 2, 2, 1, CAST(35000.00 AS Decimal(12, 2)), CAST(N'2025-01-02T00:00:00.000' AS DateTime), N'Accepted')
INSERT [dbo].[Quotation] ([quotationId], [customerId], [variantId], [dealerId], [price], [createdAt], [status]) VALUES (3, 3, 3, 2, CAST(20000.00 AS Decimal(12, 2)), CAST(N'2025-01-03T00:00:00.000' AS DateTime), N'Rejected')
GO
INSERT [dbo].[SalesContract] ([saleContractId], [orderId], [signedDate], [ContractDate], [TotalAmount], [Terms], [Status]) VALUES (1, 1, CAST(N'2025-01-02' AS Date), CAST(N'2025-01-02' AS Date), CAST(30000.00 AS Decimal(18, 2)), N'Full Payment', N'Active')
INSERT [dbo].[SalesContract] ([saleContractId], [orderId], [signedDate], [ContractDate], [TotalAmount], [Terms], [Status]) VALUES (2, 2, CAST(N'2025-01-03' AS Date), CAST(N'2025-01-03' AS Date), CAST(35000.00 AS Decimal(18, 2)), N'Installment', N'Active')
INSERT [dbo].[SalesContract] ([saleContractId], [orderId], [signedDate], [ContractDate], [TotalAmount], [Terms], [Status]) VALUES (3, 3, CAST(N'2025-01-04' AS Date), CAST(N'2025-01-04' AS Date), CAST(20000.00 AS Decimal(18, 2)), N'Full Payment', N'Closed')
GO
INSERT [dbo].[TestDrive] ([testDriveId], [customerId], [variantId], [scheduledDate], [status], [ScheduledTime]) VALUES (1, 1, 1, CAST(N'2025-02-01' AS Date), N'Completed', CAST(N'09:00:00' AS Time))
INSERT [dbo].[TestDrive] ([testDriveId], [customerId], [variantId], [scheduledDate], [status], [ScheduledTime]) VALUES (2, 2, 2, CAST(N'2025-02-02' AS Date), N'Completed', CAST(N'10:00:00' AS Time))
INSERT [dbo].[TestDrive] ([testDriveId], [customerId], [variantId], [scheduledDate], [status], [ScheduledTime]) VALUES (3, 3, 3, CAST(N'2025-02-03' AS Date), N'Completed', NULL)
GO
INSERT [dbo].[User] ([userId], [fullName], [email], [phone], [password], [role], [dealerId], [manufacturerId]) VALUES (0, N'Pham Nhat Thong', N'phamnhatthong1712@gmail.com', N'0366993031', N'123456', N'customer', NULL, NULL)
INSERT [dbo].[User] ([userId], [fullName], [email], [phone], [password], [role], [dealerId], [manufacturerId]) VALUES (4, N'Manufacturer Manager 1', N'manu1@carsales.com', N'0933333333', N'manu123', N'Manufacturer', NULL, 1)
INSERT [dbo].[User] ([userId], [fullName], [email], [phone], [password], [role], [dealerId], [manufacturerId]) VALUES (5, N'Manufacturer Manager 2', N'manu2@carsales.com', N'0934444444', N'manu123', N'Manufacturer', NULL, 2)
GO
SET IDENTITY_INSERT [dbo].[VehicleModel] ON 

INSERT [dbo].[VehicleModel] ([vehicleModelId], [manufacturerId], [name], [category], [imageUrl]) VALUES (1, 1, N'Toyota Camry', N'Sedan', N'https://bizweb.dktcdn.net/thumb/grande/100/388/878/products/2b7c6e87fc3672f4509e84d5d7f00c1f.png?v=1729671432427')
INSERT [dbo].[VehicleModel] ([vehicleModelId], [manufacturerId], [name], [category], [imageUrl]) VALUES (2, 1, N'Toyota Corolla', N'Sedan', N'https://bizweb.dktcdn.net/thumb/1024x1024/100/388/878/products/toyota-corolla-cross-2024-moi-nhat-2.png?v=1715158367267')
INSERT [dbo].[VehicleModel] ([vehicleModelId], [manufacturerId], [name], [category], [imageUrl]) VALUES (3, 2, N'Honda Civic', N'Sedan', N'https://hondaotodongthap.com.vn/wp-content/uploads/2023/09/Honda-Civic-Type-R-do_.png')
SET IDENTITY_INSERT [dbo].[VehicleModel] OFF
GO
INSERT [dbo].[VehicleVariant] ([variantId], [vehicleModelId], [version], [color], [productYear], [price], [Quantity]) VALUES (1, 1, N'2.0G', N'Black', 2024, CAST(30000.00 AS Decimal(12, 2)), 10)
INSERT [dbo].[VehicleVariant] ([variantId], [vehicleModelId], [version], [color], [productYear], [price], [Quantity]) VALUES (2, 1, N'2.5Q', N'White', 2024, CAST(35000.00 AS Decimal(12, 2)), 10)
INSERT [dbo].[VehicleVariant] ([variantId], [vehicleModelId], [version], [color], [productYear], [price], [Quantity]) VALUES (3, 2, N'1.8E', N'Silver', 2024, CAST(20000.00 AS Decimal(12, 2)), 10)
GO
/****** Object:  Index [IX_Customer_dealerId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_dealerId] ON [dbo].[Customer]
(
	[dealerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DealerContract_dealerId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_DealerContract_dealerId] ON [dbo].[DealerContract]
(
	[dealerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DealerContract_manufacturerId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_DealerContract_manufacturerId] ON [dbo].[DealerContract]
(
	[manufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedback_customerId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Feedback_customerId] ON [dbo].[Feedback]
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_customerId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_customerId] ON [dbo].[Order]
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_dealerId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_dealerId] ON [dbo].[Order]
(
	[dealerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_variantId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_variantId] ON [dbo].[Order]
(
	[variantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_orderId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_orderId] ON [dbo].[Payment]
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Promotion_orderId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Promotion_orderId] ON [dbo].[Promotion]
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Quotation_customerId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Quotation_customerId] ON [dbo].[Quotation]
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Quotation_dealerId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Quotation_dealerId] ON [dbo].[Quotation]
(
	[dealerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Quotation_variantId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Quotation_variantId] ON [dbo].[Quotation]
(
	[variantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesContract_orderId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalesContract_orderId] ON [dbo].[SalesContract]
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestDrive_customerId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_TestDrive_customerId] ON [dbo].[TestDrive]
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestDrive_variantId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_TestDrive_variantId] ON [dbo].[TestDrive]
(
	[variantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_dealerId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_dealerId] ON [dbo].[User]
(
	[dealerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_manufacturerId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_manufacturerId] ON [dbo].[User]
(
	[manufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VehicleModel_manufacturerId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_VehicleModel_manufacturerId] ON [dbo].[VehicleModel]
(
	[manufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VehicleVariant_vehicleModelId]    Script Date: 10/19/2025 2:55:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_VehicleVariant_vehicleModelId] ON [dbo].[VehicleVariant]
(
	[vehicleModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VehicleVariant] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Customer]  WITH NOCHECK ADD  CONSTRAINT [FK__Customer__dealer__6FE99F9F] FOREIGN KEY([dealerId])
REFERENCES [dbo].[Dealer] ([dealerId])
GO
ALTER TABLE [dbo].[Customer] NOCHECK CONSTRAINT [FK__Customer__dealer__6FE99F9F]
GO
ALTER TABLE [dbo].[DealerContract]  WITH NOCHECK ADD  CONSTRAINT [FK__DealerCon__deale__6C190EBB] FOREIGN KEY([dealerId])
REFERENCES [dbo].[Dealer] ([dealerId])
GO
ALTER TABLE [dbo].[DealerContract] NOCHECK CONSTRAINT [FK__DealerCon__deale__6C190EBB]
GO
ALTER TABLE [dbo].[DealerContract]  WITH NOCHECK ADD  CONSTRAINT [FK__DealerCon__manuf__6D0D32F4] FOREIGN KEY([manufacturerId])
REFERENCES [dbo].[Manufacturer] ([manufacturerId])
GO
ALTER TABLE [dbo].[DealerContract] NOCHECK CONSTRAINT [FK__DealerCon__manuf__6D0D32F4]
GO
ALTER TABLE [dbo].[Feedback]  WITH NOCHECK ADD  CONSTRAINT [FK__Feedback__custom__02FC7413] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[Feedback] NOCHECK CONSTRAINT [FK__Feedback__custom__02FC7413]
GO
ALTER TABLE [dbo].[Order]  WITH NOCHECK ADD  CONSTRAINT [FK__Order__customerI__797309D9] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[Order] NOCHECK CONSTRAINT [FK__Order__customerI__797309D9]
GO
ALTER TABLE [dbo].[Order]  WITH NOCHECK ADD  CONSTRAINT [FK__Order__dealerId__787EE5A0] FOREIGN KEY([dealerId])
REFERENCES [dbo].[Dealer] ([dealerId])
GO
ALTER TABLE [dbo].[Order] NOCHECK CONSTRAINT [FK__Order__dealerId__787EE5A0]
GO
ALTER TABLE [dbo].[Order]  WITH NOCHECK ADD  CONSTRAINT [FK__Order__variantId__7A672E12] FOREIGN KEY([variantId])
REFERENCES [dbo].[VehicleVariant] ([variantId])
GO
ALTER TABLE [dbo].[Order] NOCHECK CONSTRAINT [FK__Order__variantId__7A672E12]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK__Payment__orderId__7D439ABD] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK__Payment__orderId__7D439ABD]
GO
ALTER TABLE [dbo].[Promotion]  WITH NOCHECK ADD  CONSTRAINT [FK__Promotion__order__00200768] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
GO
ALTER TABLE [dbo].[Promotion] NOCHECK CONSTRAINT [FK__Promotion__order__00200768]
GO
ALTER TABLE [dbo].[Quotation]  WITH NOCHECK ADD  CONSTRAINT [FK__Quotation__custo__0C85DE4D] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[Quotation] NOCHECK CONSTRAINT [FK__Quotation__custo__0C85DE4D]
GO
ALTER TABLE [dbo].[Quotation]  WITH NOCHECK ADD  CONSTRAINT [FK__Quotation__deale__0E6E26BF] FOREIGN KEY([dealerId])
REFERENCES [dbo].[Dealer] ([dealerId])
GO
ALTER TABLE [dbo].[Quotation] NOCHECK CONSTRAINT [FK__Quotation__deale__0E6E26BF]
GO
ALTER TABLE [dbo].[Quotation]  WITH NOCHECK ADD  CONSTRAINT [FK__Quotation__varia__0D7A0286] FOREIGN KEY([variantId])
REFERENCES [dbo].[VehicleVariant] ([variantId])
GO
ALTER TABLE [dbo].[Quotation] NOCHECK CONSTRAINT [FK__Quotation__varia__0D7A0286]
GO
ALTER TABLE [dbo].[SalesContract]  WITH NOCHECK ADD  CONSTRAINT [FK__SalesCont__order__05D8E0BE] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
GO
ALTER TABLE [dbo].[SalesContract] NOCHECK CONSTRAINT [FK__SalesCont__order__05D8E0BE]
GO
ALTER TABLE [dbo].[TestDrive]  WITH NOCHECK ADD  CONSTRAINT [FK__TestDrive__custo__08B54D69] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[TestDrive] NOCHECK CONSTRAINT [FK__TestDrive__custo__08B54D69]
GO
ALTER TABLE [dbo].[TestDrive]  WITH NOCHECK ADD  CONSTRAINT [FK__TestDrive__varia__09A971A2] FOREIGN KEY([variantId])
REFERENCES [dbo].[VehicleVariant] ([variantId])
GO
ALTER TABLE [dbo].[TestDrive] NOCHECK CONSTRAINT [FK__TestDrive__varia__09A971A2]
GO
ALTER TABLE [dbo].[User]  WITH NOCHECK ADD  CONSTRAINT [FK__User__dealerId__68487DD7] FOREIGN KEY([dealerId])
REFERENCES [dbo].[Dealer] ([dealerId])
GO
ALTER TABLE [dbo].[User] NOCHECK CONSTRAINT [FK__User__dealerId__68487DD7]
GO
ALTER TABLE [dbo].[User]  WITH NOCHECK ADD  CONSTRAINT [FK__User__manufactur__693CA210] FOREIGN KEY([manufacturerId])
REFERENCES [dbo].[Manufacturer] ([manufacturerId])
GO
ALTER TABLE [dbo].[User] NOCHECK CONSTRAINT [FK__User__manufactur__693CA210]
GO
ALTER TABLE [dbo].[VehicleModel]  WITH NOCHECK ADD  CONSTRAINT [FK__VehicleMo__manuf__72C60C4A] FOREIGN KEY([manufacturerId])
REFERENCES [dbo].[Manufacturer] ([manufacturerId])
GO
ALTER TABLE [dbo].[VehicleModel] NOCHECK CONSTRAINT [FK__VehicleMo__manuf__72C60C4A]
GO
ALTER TABLE [dbo].[VehicleVariant]  WITH NOCHECK ADD  CONSTRAINT [FK__VehicleVa__vehic__75A278F5] FOREIGN KEY([vehicleModelId])
REFERENCES [dbo].[VehicleModel] ([vehicleModelId])
GO
ALTER TABLE [dbo].[VehicleVariant] NOCHECK CONSTRAINT [FK__VehicleVa__vehic__75A278F5]
GO
USE [master]
GO
